<!DOCTYPE html>
<html>
<head>
	<title>Get All Free Times</title>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
	<form method="POST">
		{% csrf_token %}
		<div class="container-fluid" style="margin-top: 5vh; margin-left: 2vh;">
		<div class="row">
			<div class="col">
				<label>Enter the start date</label>
				<input name="start_date" type="date"/>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<label>Enter the end date</label>
				<input type="date" name="end_date" placeholder="YYYY-DD-MM">
			</div>
		</div>

		<div class="row">
			<div class="col">
				<input type="submit" class="btn btn-outline-dark" name="submit_button">
			</div>
		</div>
		</div>
	</form>
</body>
</html>